.Scheduler {
    color: #666666;
    font-size: 14px;

    & > th {
        background: rgba(53, 120, 222, 0.1);
        height: 27px;
        font-weight: 500;
        vertical-align: bottom;
        text-align: right;
    }

    & > th:first-child {
        border-top-left-radius: 0.5rem;
    }
    & > th:last-child {
        border-top-right-radius: 0.5rem;
    }

    & > tr {
        height: 27px;
    }
    & > tr:not(:last-child) {
        border-bottom: 1px solid #C9C9C9;
    }    
    
    &__col {
        border-right: 1px dashed #C9C9C9;
        
        &-selected {
            background: #3578DE;
        }
    }


    &__header {
        &-vertical {
            background: rgba(53, 120, 222, 0.1);
            font-weight: 500;
            text-align: center;
        }
    }
    
}