# Dependency Modules
node_modules
.next

# App Packaged
dist/
build/
*.zip

# NPM
.npm
yarn.lock

# Environment
.env*
config

# Test
coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Patches
patches/


*.sh
goorm.manifest
README_EN.md
README_KR.md

server/config/