.AppointmentListCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 0.844037px solid #efefef;
    padding: 11px 1.125rem 1.5rem;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__row {
        display: flex;
        font-weight: 500;
        align-items: center;
        margin-top: 0.875rem;
    }

    &__name {
        font-size: 1rem;
        color: #141414;
        margin-right: 0.5rem;
    }

    &__status {
        &-ing {
            color: #3578de;
            font-size: 0.875rem;
        }
        &-done {
            color: #d9d9d9;
            font-size: 0.875rem;
        }
    }

    &__progressBar {
        border: 0.686747px solid #d9d9d9;
        border-radius: 6.86747px;
        height: 13.73px;
        width: 164.82px;
        margin-right: 0.5rem;
        background: white;

        &-inner {
            background: #3578de;
        }

        &__value {
            font-weight: 400;
            font-size: 13px;
            color: #666666;
        }
    }

    &__badge {
        border: 0.686747px solid #d9d9d9;
        border-radius: 18.6403px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin-right: 0.5rem;
        padding: 0.5rem 1rem;

        &__icon {
            margin-right: 0.25rem;
        }
    }

    &__members {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        &__character {
            border: 0.8px solid #d9d9d9;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            padding: 3px;
            display: flex;
            justify-content: center;
        }
    }
}