.CustomCalender {
    width: 100%;
    color: #666666;
    
    & > div {
        border: none;
        width: 100%;
    }

    &__inner {
        height: 48.42px;
        color: #666666;
    }
    &__inner:enabled:hover {
        background-color: #3578de;
        border-radius: 100%;
        color: white;
    }

    abbr[title] {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
    }

    .react-calendar__navigation button:enabled:focus {
        background-color: #f8f8fa;
    }
    .react-calendar__navigation button:disabled {
        background-color: white;
    }

    button > .react-calendar__tile--now {
        background-color: white;
    }

    button[disabled] {
        background-color: white;
        color: #141414;
    }
    
    button {
        background-color: white;
    }
}
