.Header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.75rem 1.125rem 0;
    font-weight: 600;
    font-size: 19px;

    &__title {
        color: #3578de;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 35.56px;
        padding: 0 6rem;
    }

    &__introButton {
        width: 1.625rem;
        height: 1.625rem;
        color: #3578de;
    }

    &__addButton {
        width: 1.625rem;
        height: 1.625rem;
        color: #3578de;
    }
}